.ui{
    &-tooltip {
        background-color: $bg-secondary-color;
        padding: .3em .8em;
        border: 1px solid $border-color;
        border-radius: 4px;
        box-shadow: $shadow;
        font-size: 14px;
        color: $dark-text;
    }
}
.dropdown {
    position: absolute;
    display: none;
    list-style: none;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $bg-secondary-color;
    box-shadow: $shadow;
    z-index: 5;
    flex-direction: column;
    cursor: default;
    // transition: padding .2s;
    &--nav {
        background-color: $bg-secondary-color;
        box-shadow: $shadow;
        padding: 16px 12px;
        border-radius: 0 0 12px 12px;
        border: 1px solid $border-color;
        border-top: none;
    }
    &__trigger {
        position: relative;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        list-style: none;
    }
}
.btn {
    position: relative;
    border: none;
    background-color: transparent;
    color: $grey-light;
    border-radius: 0;
    cursor: pointer;
    text-decoration: none;
    transition: background .2s;
    border: 2px solid $primary;
    overflow: hidden;
    span {
        z-index: 2;
        transition: color .3s, font-weight .3s;
    }
    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 200%;
        background-color: $primary;
        transition: transform .3s, border-radius .2s;
    }
    &--sm {
        display: grid;
        place-items: center;
        width: 180px;
        height: 38px;
        color: $white-text;
        border-radius: 8px;
    }
    &--md {
        display: grid;
        place-items: center;
        width: 180px;
        max-height: 100%;
        height: 48px;
        color: $white-text;
        border-radius: 8px;
    }
    &--big {
        height: 68px;
        border-radius: 12px
    }
    &:hover {
        color: $primary;
        span{
            font-weight: 500;
        }
        &:before {
            transform: translateX(110%) rotate(30deg);
            border-radius: 8px
        }
    }
    &--broker {
        display: grid;
        place-items: center;
        z-index: 2;
        border-color: $blue;
        span {
            font-size: 18px;
            font-weight: 600;
            color: $blue;
        }
        &:before {
            transform: translateX(110%) rotate(30deg);
            background-color: $blue;
        }
        &:hover {
            span {
                color: $white-text;
                font-weight: 600;
            }
            &:before {
                transform: none;
            }
        }
    }
    &--top {
        height: 48px;
        width: 48px;
        position: fixed;
        right: 100px;
        bottom: 100px;
        border-radius: 50%;
        border: none;
        z-index: 99;
        visibility: visible;
        opacity: 1;
        transition: opacity .3s, background-color .3S;
        background: $primary url('../img/ico/arrow-up.svg') center center no-repeat;
        background-size: 32px 32px;
        &:before {
            display: none;
        }
        &.hide {
            opacity: 0;
            visibility: hidden;
        }
        &:hover {
            background-color: $green
        }
    }
}
.input {
    position: relative;
    width: 500px;
    height: 48px;
    border-radius: 8px;
    &__button {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 48px;
        border: none;
        border-radius: 0 8px 8px 0;
        background: $primary url('../img/ico/loupe.svg') center center no-repeat;
        border: 1px solid $border-color;
        border-left: none;
        cursor: pointer;
        transition: background-color .2s;
        &:hover {
            background-color: $green;
        }
    }
    &__field {
        width: 100%;
        height: 100%;
        padding-left: 12px;
        padding-right: 60px;
        border: 1px solid $border-color;
        border-radius: 8px;
        background-color: $bg-secondary-color;
        color: $dark-text;
        transition: box-shadow .2s;
        outline: none;
        font-size: 16px;
        &:focus {
            box-shadow: 0 0 4px 4px rgba(8,135,214, .1), 0 0 8px 8px rgba(8,135,214, .1)
        }
    }
    &__label {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        font-size: 16px;
        color: $dark-text;
        opacity: .5;
        transition: font-size .2s, transform .2s, border .2s, opacity .2s;
        background-color: $bg-secondary-color;
        padding: 2px 4px;
        border-radius: 4px;
        cursor: text;
        &.active {
            border: 1px solid $border-color;
            font-size: 10px;
            transform: translateY(-50%) translateY(-24px);
            opacity: 1;
        }
    }
}
.swiper {
    &-pagination {
        bottom: 0 !important;
    }
}