.aside {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    &__block {
        padding: 24px;
        background-color: $bg-main-color;
        border-radius: 12px;
        &--centered {
            display: flex;
            justify-content: center;
        }
    }
}