.brokers {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.broker {
    display: flex;
    position: relative;
    width: 100%;
    background-color: $bg-main-color;
    border-radius: 12px;
    padding: 32px 24px;
    min-height: 280px;
    transition: box-shadow .3s;
    box-shadow: 0 0 0 0 rgba(8, 135, 214, 0);

    &:hover {
        box-shadow: 0 0 0 8px rgba(8, 135, 214, .2);
    }

    &__wrapper {
        display: flex;
        column-gap: 40px;
        min-height: 100%;
    }

    &__inner {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    &__col {
        display: flex;
        flex-direction: column;
        height: 100%;

        .btn_broker {
            margin-top: auto;
        }
    }

    &__link {
        position: absolute;
        height: 100%;
        width: 100%;
        inset: 0;
        border-radius: 12px;
    }

    &__links {
        display: flex;
        flex-grow: 1;
        align-items: end;
        column-gap: 16px;
    }

    &__img {
        transition: transform .3s;
        margin-bottom: 8px;
    }

    &_mini {
        padding: 0;
        min-height: auto;
        .broker {
            &__link {
                z-index: 1;
            }
        }
        .btn {
            z-index: 1 ;
        }


        &:hover {
            box-shadow: none;

            .broker {
                &__img {
                    transform: scale(1.02)
                }
            }
        }
    }
}