.notification {
    position: fixed;
    display: none;
    left: 100px;
    bottom: 80px;
    padding: 12px;
    background: $bg-secondary-color;
    border-radius: 12px;
    box-shadow: $shadow;
    max-width: 400px;
    border: 1px solid $border-color;
    z-index: 49;
    &__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }
    &__body {
        display: flex;
        column-gap: 6px;
    }
    &__ico {
        width: 80px;
        height: 80px;
        &_cookie {
            background: url('../img/ico/cookie.svg') center center no-repeat
        }
    }
    &__descr {
        color: $dark-text;
        font-size: 14px;
        line-height: 120%; /* 17/14 */
        font-weight: 400;
    }
}