@media (max-width: 1220px) {
    .container {
        width: 100%;
        padding: 0 12px;
    }
    .nav {
        &__item {
            span {
                font-size: 18px;
            }
        }
        &__col {
            height: fit-content;
        }
        &_footer {
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            column-gap: 32px;
            row-gap: 32px;
        }
    }
}
@media (max-width: 992px) {
    .burger {
        display: grid;
    }
    .dropdown {
        &_nav {
            left: 100%;
            top: 0;
            transform: none;
            border-radius: 0 12px 12px 0;
            border-top: 1px solid $border-color;
            border-left: none;
        }
    }
    .body {
        padding-top: 72px;
    }
    .header {
        background-color: $bg-secondary-color;
        &__search {
            display: none;
        }
    }
    .nav {
        position: fixed;
        z-index: 500;
        right: calc(100% + 24px);
        top: 0;
        height: 100vh;
        padding-top: 32px;
        border-right: 1px solid $border-color;
        transition: transform .3s;
        &.active {
            transform: translateX(260px);
        }
        .magic-line {
            display: none;
        }
        .container {
            padding: 0;
        }
        &__item {
            width: 100%;
            padding: 0 24px;
            span {
                &::before {
                    transform: rotate(90deg) translateX(-30%);
                }
            }
            &.active {
                span {
                    &:before {
                        transform: rotate(90deg) translateX(-30%) translateY(-4px);
                    }
                }
            }
            &:hover {
                span {
                    &:before {
                        transform: rotate(90deg) translateX(-30%) translateY(-4px)
                    }
                }
            }
        }
        &__list {
            display: flex;
            flex-direction: column;
            height: auto;
            row-gap: 24px;
            padding: 0;
        }
        &__item {
            &:nth-child(2) {
                .dropdown {
                    left: 100%;
                    right: auto;
                    top: -12px;
                }
            }
            &:nth-child(6) {
                .dropdown {
                    left: 100%;
                    right: auto;
                }
            }
        }
    }
    .footer {
        &__row {
            &_nav {
                display: none;
            }
        }
    }
}
@media (max-width: 768px) {
    .dropdown {
        &_nav {
            transform: none;
            position: static;
            border-radius: 0 0 12px 12px;
            border: none;
            background-color: transparent;
            box-shadow: none;
            padding: 0;
            margin-top: 16px;
            .nav__link {
                color: $border-color;
                opacity: .9;
            }
        }
    }
    .nav {
        overflow-y: auto;
        &_header {
            right: 100%;
            width: 100vw;
            padding-bottom: 0;
            background: linear-gradient(3.76deg, rgba(17, 38, 92, 0.87) 1.13%, rgba(78, 98, 151, 0) 152.31%), rgba(0, 65, 38, 0.08);
            backdrop-filter: blur(17.5px);
            box-shadow: none;
            &.active {
                transform: translateX(100vw);
            }
        }
        &__subitem {
            white-space: normal;
        }
        &__item {
            display: flex;
            flex-direction: column;
            align-items: start;
            min-height: 56px;
            padding: 16px 24px;
            max-width: 400px;
            justify-content: start;
            backdrop-filter: blur(2px);
            background: rgba(255, 255, 255, 0.15);
            border-radius: 12px;
            span {
                position: relative;
                color: $border-color;
                font-weight: 600;
                width: 100%;
                &:before {
                    right: 0;
                    transform: rotate(180deg) translateY(50%);
                }
            }
            &.active {
                span {
                    &:before {
                        transform: rotateZ(180deg) rotateX(180deg) translateY(-50%);
                        border-bottom: 6px solid $border-color;
                    }
                }
                &:hover {
                    span {
                        &:before {
                            transform: rotateZ(180deg) rotateX(180deg) translateY(-50%);
                        }
                    }
                }
            }
            &:hover {
                span {
                    &:before {
                        transform: rotate(180deg) translateY(50%)
                    }
                }
            }
        }
        &__list {
            &_header {
                padding: 32px 12px;
            }
        }
    }
    .footer {
        &__row {
            &_links {
                flex-wrap: wrap;
                row-gap: 12px;
            }
        }
    }
}
@media (max-width: 576px) {

}
@media (max-width: 480px) {

}
@media (max-width: 360px) {

}