@import 'base/variebles.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

body {
    min-height: 100vh;
    background-color: $bg-main-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
    padding: 0;
    margin: 0;
}

img,
svg {
    vertical-align: middle;
}

html {
    scrollbar-width: thin;
    scrollbar-color: $blue transparent;

    &::-webkit-scrollbar {
        width: 5px;
        height: 7px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $blue;
        border-radius: 50px;
    }
}

.body {
    height: 300vh;
    padding-top: 128px;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
}


@import 'base/mixins.scss';
@import 'base/text.scss';
@import 'base/ui.scss';
@import 'base/other.scss';
@import 'base/fonts.scss';

@import 'blocks/header.scss';
@import 'blocks/footer.scss';
@import 'blocks/pop-up.scss';

@import 'media.scss';

@import 'base/dark-mode.scss';