@import 'base/variebles.scss';

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
body {
    min-height: 100vh;
    background-color: $bg-main-color;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,ol,li {
    padding: 0;
    margin: 0;
}
img, svg {
    vertical-align: middle;
}
.body {
    padding-top: 128px;
    height: 300vh;
}
.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


@import 'base/mixins.scss';
@import 'base/text.scss';
@import 'base/ui.scss';
@import 'base/other.scss';
@import 'base/fonts.scss';

@import 'blocks/header.scss';
@import 'blocks/footer.scss';
@import 'blocks/pop-up.scss';

@import 'media.scss';

@import 'base/dark-mode.scss';